<h3>Edit Account</h3>

<%= form_for @user, url: update_user_path do |f| %>
  <p>
    <b><%= f.label :username %></b>  <%= f.text_field :username %>
  </p>
  <p>
    <b><%= f.label :email %></b> <%= f.text_field :email %>
  </p>
  <p>
    <b><%= f.label :password %></b> <%= f.password_field :password %>
  </p>
  <p>
    <b><%= f.label :password_confirmation %></b> <%= f.password_field :password_confirmation %>
  </p>

  <%= f.submit %>
<% end %>
