<%= form_tag create_recipe_path do |form| %>
  <p>
    <b><%= label_tag :name %></b>
    <%= text_field_tag :name %>
  </p>
  <p>
    <b><%= label_tag :prep_time_in_minutes %></b>
    <%= number_field_tag :prep_time_in_minutes %>
  </p>
  <p>
    <b><%= label_tag :servings %></b>
    <%= number_field_tag :servings %>
  </p>
  <p>
    <b><%= label_tag :ingredient %></b>
    <%= autocomplete_field_tag :ingredient, params[:ingredient], ingredients_autocomplete_ingredient_name_path, {class: "search-query", placeholder: "Ingredients", type: "search"} %><br>
  </p>

  <%= submit_tag("Create") %>
<% end %>
