<%= form_for :recipe, url: create_recipe_path do |form| %>
  <p>
    <b><%= form.label :name %></b>
    <%= form.text_field :name %>
  </p>
  <p>
    <b><%= form.label :prep_time_in_minutes %></b>
    <%= form.text_field :prep_time_in_minutes %>
  </p>
  <p>
    <b><%= form.label :servings %></b>
    <%= form.text_field :servings %>
  </p>

  <%= f.submit %>
<% end %>
