<h1><%= @recipe.name %></h1>
<b>Prep Time:</b> <%= @recipe.prep_time_in_minutes %><br>
<b>Servings:</b> <%= @recipe.servings %><br>
<b>Ingredients:</b><br>
<% @recipe.ingredients.each do |ingredient| %>
<%= ingredient.name %><br>
<% end %>


<p><%= link_to "View all Recipes", recipes_list_path %></p>
